html, body {
height: 100%;
margin: 0;
}
body {
display: flex;
flex-direction: column;
}
main {
flex: 1;
}
body{
font-family: Arial, sans-serif;
background: linear-gradient(to right, #a8e6cf, #dcedc1);
margin:0;
}
header{
background:#000305;
color:white;
text-align:center;
padding:25px;
}
nav{
background:#4c7baa;
text-align:center;
padding:12px;
}
nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
padding:5px 10px;
border-radius:5px;
}
p{
line-height:1.6;
}
nav a:hover{
background:#f1c40f;
color:black;
}
main{
background:white;
padding:20px;
margin:20px auto;
border-radius:10px;
width:80%;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
h1{
margin:0;
}
h2{
color:#2c3e50;
border-bottom:2px solid #ccc;
padding-bottom:5px;
margin-top:20px;
}

img{
margin-top:15px;
border-radius:6px;
}
footer{
background:#2c3e50;
color:white;
text-align:center;
padding:10px;
margin-top:20px;
}